.titulo1{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Kolker Brush', cursive;
}
.titulo2{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 1rem;
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color: purple;
    color: brown;
}
.table{
    border-collapse: collapse;
}
.table td{
    border: 1px solid;
    text-align: center;
}
.table th:hover{
    color: blueviolet;
    background-color: aquamarine;
}
table tr{
    color: bisque;
    background-color: darkcyan;
    font-family: 'Rubik Bubbles', cursive;
}
caption{
    font-family: 'Kolker Brush', cursive;
}
.table td:hover{
    color: aqua;
    background-color: greenyellow;
}
body{
    background-color: chartreuse;
    color: coral;
}
